// spacing
$spacing-025: 0.2rem;
$spacing-050: 0.4rem;
$spacing-075: 0.6rem;
$spacing-100: 0.8rem;
$spacing-125: 1rem;
$spacing-150: 1.2rem;
$spacing-200: 1.6rem;
$spacing-250: 2rem;
$spacing-300: 2.4rem;
$spacing-400: 3.2rem;
$spacing-500: 4rem;
$spacing-600: 4.8rem;
$spacing-800: 6.4rem;
$spacing-1000: 8rem;
$spacing-1200: 9.6rem;
$spacing-1400: 11.2rem;
$spacing-1600: 12.8rem;
$spacing-1800: 14rem;

// line height
$lh-110: 110%;
$lh-120: 120%;
$lh-130: 130%;
$lh-140: 140%;
$lh-150: 150%;

// letter spacing
$ls-1: -0.2rem;
$ls-2: -0.1rem;
$ls-3: -0.05rem;
$ls-4: -0.04rem;
$ls-5: -0.03rem;

// radius
$radius-4: 0.4rem;
$radius-6: 0.6rem;
$radius-8: 0.8rem;
$radius-10: 1rem;
$radius-12: 1.2rem;
$radius-16: 1.6rem;
$radius-20: 2rem;
$radius-24: 2.4rem;
$radius-full: 100%;

// colors
$neutral0: rgba(255, 255, 255);
$neutral100: rgb(246, 245, 241);
$neutral200: rgb(224, 230, 227);
$neutral300: rgb(208, 220, 217);
$neutral600: rgb(57, 88, 82);
$neutral800: rgb(57, 88, 82);
$neutral900: rgb(22, 58, 52);

$orange500: rgba(254, 159, 107);
$teal500: rgba(73, 172, 155);
$indigo500: rgba(105, 125, 219);

//font boldness

$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

