@use "./variables" as *;
@use "./home" as *;
@use "./about" as *;
@use "./mixins" as *;
@use "./components" as *;
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--inline-spacing: 1.6rem;
	--wrapper-width: 140rem;
	--imgMarginTop: 4em;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
button,
input,
label,
textarea {
	font-family: inherit;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: "Nunito", sans-serif;
	background-color: $neutral100;
}
.page {
	opacity: 0;
	transform: translateY(50px);
	display: none;
}
.page-active {
	display: block;
	animation: showPage 0.5s forwards;
}
.wrapper {
	width: min(100%, var(--wrapper-width));
	margin: 0 auto;
}
.text {
	margin-block-start: 0.8em;
	font-size: 2rem;
	line-height: $lh-150;
	font-weight: $medium;
	color: $neutral800;
}

.desktop-visible {
	display: none;
}
.main-title,
.subtitle {
	font-weight: $extra-bold;
	letter-spacing: $ls-1;
	font-size: clamp(5em, 8vw, 7.2rem);
}
.subtitle {
	font-size: clamp(3.6em, 6vw, 5rem);
}
.header {
	position: sticky;
	top: 0;
	padding: $spacing-200 var(--inline-spacing);
	border-bottom: 1px solid $neutral300;
	background-color: $neutral100;
	z-index: 1000;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		text-decoration: none;

		img {
			width: 240px;
			height: auto;
		}
	}
	&__toggler {
		width: 40px;
		height: 40px;
		display: grid;
		flex-shrink: 0;
		place-items: center;
		background-color: $neutral300;
		border: 2px solid transparent;
		border-radius: $radius-4;
		cursor: pointer;
		transition: border-color 0.3s;

		img {
			display: block;
			pointer-events: none;
		}
		&[aria-expanded="true"] {
			border-color: #163a34;
		}
	}
}
.nav {
	position: absolute;
	width: 90%;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 100%);
	z-index: 1000;

	&__links-mobile,
	&__links-desktop {
		list-style: none;
	}
	&__links-mobile {
		height: 0;
		border: 1px solid $neutral300;
		border-top: none;
		border-radius: $radius-8;
		background-color: $neutral0;
		box-shadow: 0 12px 22px rgba(57, 88, 82, 0.16);
		transition: height 0.3s;
		overflow: hidden;
	}
	&__links-mobile-li {
		padding: $spacing-150 $spacing-200;
		font-size: 1.8rem;
		color: #293241;
		font-weight: $semi-bold;
		cursor: pointer;

		&:first-child {
			padding: $spacing-250 $spacing-200 $spacing-150;
		}
		&:last-child {
			padding-block-end: $spacing-250;
		}
	}
	&__links-mobile-btn {
		width: 100%;
		padding: $spacing-150 $spacing-200;
		border-radius: $radius-10;
		border: none;
		background-color: $neutral900;
		color: $neutral0;
		font-size: 2rem;
		font-weight: $bold;
		cursor: pointer;
	}
}

.footer {
	&__content {
		display: flex;
		padding: $spacing-400 var(--inline-spacing) $spacing-250;
		flex-direction: column;
		align-items: center;
		gap: 2.4rem;
		color: $neutral900;
	}

	&__social {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 2.4rem;
	}
	&__text {
		font-size: 1.6rem;
		font-weight: $medium;
	}
}

@media (768px <= width) {
	:root {
		--inline-spacing: 3.2rem;
	}
	.header {
		padding: $spacing-400 var(--inline-spacing) $spacing-250;
	}
	.nav {
		&__links-mobile-btn {
			transition: background-color 0.3s;

			&:hover {
				background-color: $neutral800;
			}
		}
	}
	.footer {
		&__content {
			padding: $spacing-500 var(--inline-spacing);
			flex-direction: row;
			justify-content: space-between;
			gap: 0;
		}

		&__social {
			order: 1;
		}
		&__link {
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}
@media (800px <= width) {
	:root {
		--imgMarginTop: 5em;
	}
	.header {
		&__toggler {
			display: none;
		}
		&__btn {
			display: block;
			padding: $spacing-150 $spacing-200;
			border-radius: $radius-10;
			background-color: $neutral900;
			border: none;
			color: $neutral0;
			font-size: 1.8rem;
			font-weight: $bold;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: $neutral800;
			}
		}
	}
	.nav {
		position: static;
		width: fit-content;
		transform: none;

		&__links-mobile {
			display: none;
		}
		&__links-desktop {
			display: flex;
			gap: 4rem;
		}
		&__links-desktop-li {
			position: relative;
			font-size: 1.8rem;
			font-weight: $semi-bold;
			color: $neutral900;
			cursor: pointer;

			&.active::before {
				transform: scale(1);
			}
			&::before {
				content: "";
				position: absolute;
				bottom: -2px;
				background-color: $orange500;
				width: 100%;
				height: 3px;
				border-radius: $radius-4;
				transform-origin: center;
				transform: scale(0);
				transition: transform 0.3s;
			}
			&:hover::before {
				transform: scale(1);
			}
		}
	}
}

@media (992px <= width) {
	:root {
		--inline-spacing: 6rem;
		--imgMarginTop: 7em;
	}
	.header {
		padding: $spacing-250 var(--inline-spacing);
	}
}

@keyframes showPage {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
